
.idea/workspace.xml
.idea/misc.xml
.idea/ucr-ee213.iml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/Project.xml
starter_code/matlab_spice_parser/netlist/netlist_t1.sp
starter_code/matlab_spice_parser/netlist/rlc.sp
